node_modules
node_modules_old
compress
nbproject
npm-debug.log
package.json
note/note-ignore
package-lock.json
backup/db
public/upload/
server/ignore/
server/secret/secret.js
server/api/zoom-api.js
server/php-api/lib/secret.php
server/php-api/email/secret.php
log