.action-box{
    background: #449d44;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    height: 100px;
    .ab-title{
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .ab-input{
        border-radius: 15px;
    }

    .ab-btn-submit{
        
    }

    .ab-btn-click{
        
    }
}