.action-box{
    background: #cbeecb;
    border : solid 1px green;
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    min-height: 100px;
    margin: auto;
    margin-bottom: 10px;
    .ab-title{
        color: green;
        font-size: 17px;
        margin-bottom: 5px;
    }

    .ab-input{
        border-radius: 15px;
    }

    .ab-btn-submit{
        
    }

    .ab-btn-click{
        
    }
}