@import "define/variable.scss";
$dimension: 30px;
.hall-activity {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $dimension;
    width: $dimension;
    color: white;
    margin: 3px;
    background: $COLOR_DARK
}

.icon.clickable {
    cursor: pointer;
}

.icon.circle {
    border-radius: 100%;
}

.icon.small {
    height: $dimension / 2;
    width: $dimension / 2;
}

.icon.company {
    border-radius: 20%;
    background: darkgray;
    border: solid #465363 5px;
    border-left: none;
    border-right: none;
}

.icon.company.active {
    border-color: #449d44;
}

.icon.cornered {
    border-radius: 25%;
}

.icon.active {
    background: #449d44;
    color: white;
}

.icon.clickable:hover {
    opacity: 0.7;
}

.icon.clickable:active {
    opacity: 1;
}