.ads{
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .ads-text{
        color:white;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
    }
}