@import "define/variable.scss";

*{
    word-break: keep-all !important;
    overflow-wrap: break-word;
}

html {
    height: 100%;
}

body, footer{
    font-family: 'Montserrat', Helvetica, sans-serif;
    background: $COLOR_DARK;
}


#app .primary-layout{
    position: relative;
    text-align: center;
}

header, content, left_bar, footer{
    /*    border: 1px dotted gray;*/
}

header{
    height: $HEADER_HEIGHT;
    position: fixed;
    width: 100%;
    top:0;
    background: white;
    z-index: 1;

}

.content{
    background: $COLOR_BACKGROUND;
    margin-top: $HEADER_HEIGHT;
    min-height: 65vh;
    width: 100%;
    display: flex;
    flex-flow: row;

    .main{
        padding: 20px;
        flex: 3; 
    }

    right_bar{
        flex: 1; 
        background: darken($COLOR_BACKGROUND,10);
    }
}

footer{
    height: 50px;
    width: 100%;
    min-height: 10%;
    z-index: 1;
}

left_bar{
    width: $LEFTBAR_LG_WIDTH;
    left: 0;
    top:0;
    position: fixed;
    height: 100%;
    z-index: 5;
}

/*padding for left_bar*/
header, .content, footer{
    padding-left: $LEFTBAR_LG_WIDTH;
}

.primary-layout.landing-page{
    header, .content, footer{
        padding-left: 0;
    }    
}


@media only screen and (min-width: 1000px){
    .primary-layout.landing-page{
        header{
            padding: 0 111px;
        }
    }
}

@media only screen and (max-width: $LAYOUT_MD){
    header, .content, footer{
        padding-left: $LEFTBAR_MD_WIDTH;
    }

    left_bar{
        width: $LEFTBAR_MD_WIDTH;

    }

    .content{
        flex-flow: column;

        .main{
            padding: 15px;
            flex: 1; 
        }

        right_bar{
            flex: 1; 
            min-height: 100px;
            min-width: 100%;
        }
    }
}

/**Layout for Small Size 360px */
@media only screen and (max-width: $LAYOUT_SM){

    header, .content, footer{
        padding-left: 0;
    }

    //hide left bar and position it under header bar
    left_bar{
        width: 100%;
        height: $LEFTBAR_SM_HEIGHT;
        top:$HEADER_HEIGHT;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .content{
        margin-top: $HEADER_HEIGHT + $LEFTBAR_SM_HEIGHT;

        .main{
            padding: 10px;
        }
    }

    .landing-page .content{
        margin-top:$HEADER_HEIGHT;
    }
}