/*
860
680
360
@media only screen and (max-width: 680px)
*/

/*this stylesheet is strictly for layout only */

html {
    height: 100%;
}

body, footer{
    background: #465363;
}

#app .primary-layout{
    position: relative;
    text-align: center;
}

header, content, left_bar, footer{
    /*    border: 1px dotted gray;*/
}

header{
    height: 50px;
    position: fixed;
    width: 100%;
    top:0;
    background: white;

}

.content{
    background: whitesmoke;
    margin-top: 50px;
    min-height: 65vh;
    width: 100%;
    display: flex;
    flex-flow: column; /* in mobile */
    flex-flow: row;
}

.content .main{
    flex: 3; 
}

.content right_bar{
    flex: 1; 
}

footer{
    height: 50px;
    width: 100%;
    min-height: 10%;
}

left_bar{
    width: 150px;
    left: 0;
    top:0;
    position: fixed;
    height: 100%;
    z-index: 5;
}

/*padding for left_bar*/
header, .content, footer{
    padding-left: 150px;
}

/**Layout for Medium Size 680px */
@media only screen and (max-width: 680px){
    header, .content, footer{
        padding-left: 35px;
    }

    left_bar{
        width: 35px;
        position: fixed;
        height: 100%;
        z-index: 5;
    }
}

/**Layout for Small Size 360px */