@import "define/variable.scss";

* {
	word-break: keep-all !important;
	overflow-wrap: break-word;
}

.break-all {
	word-break: break-all !important;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

body,
footer {
	font-family: 'Montserrat', Helvetica, sans-serif;
	background: $COLOR_DARK;
}

#app .primary-layout {
	position: relative;
	text-align: center;
}

body.body-full-width {
	.main {
		padding: 0px;
		//max-width: none;
		max-width: 100%;
	}
}



header,
content,
left_bar,
footer {
	/*    border: 1px dotted gray;*/
}

header {
	height: $HEADER_HEIGHT;
	position: fixed;
	width: 100%;
	top: 0;
	background: $COLOR_HEADER;
	z-index: 1;
}

.content {
	background: $COLOR_BACKGROUND;
	padding-top: $HEADER_HEIGHT;
	min-height: 65vh;
	width: 100%;
	display: flex;
	flex-flow: row;

	// {
	//     padding: 20px;
	//     max-width: $MAX_WIDTH_MAIN;
	//     margin-left: auto;
	//     margin-right: auto;
	// }

	.main,
	.main-width {
		padding: 20px;
		max-width: $MAX_WIDTH_MAIN;

		//margin: auto;
		margin-left: auto;
		margin-right: auto;
		flex: 3;
	}

	.main-width.main-width-lg {
		max-width: $MAX_WIDTH_MAIN_LG;
	}

	@media only screen and (max-width: $MAX_WIDTH_MAIN) {

		.main,
		.main-width {
			max-width: 100vw;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}



	right_bar {
		flex: 1;
		background: darken($COLOR_BACKGROUND, 10);
	}
}

footer {
	height: 50px;
	width: 100%;
	min-height: 10%;
	z-index: 1;
}

left_bar {
	width: $LEFTBAR_LG_WIDTH;
	left: 0;
	top: 0;
	position: fixed;
	height: 100%;
	z-index: 10;
}

/*padding for left_bar*/

.primary-layout.landing-page {
	.main {
		max-width: none;
		//max-width: 100vw;
	}

	.content,
	footer {
		padding-left: 0;
	}
}

@media only screen and (min-width: 1180px) {
	// .primary-layout.landing-page {
	//     header {
	//         padding: 0 111px;
	//     }
	// }

	.primary-layout {
		header {
			padding-left: 7%;
			padding-right: 7%;

		}
	}

	// .primary-layout {
	//     .main {
	//         .sub-nav{
	//             .sn-header{
	//                 padding-left: 111px;
	//                 padding-right: 111px;
	//             }
	//         }

	//     }
	// }
}

// @media only screen and (max-width: $LAYOUT_MD) {

//     header,
//     .content,
//     footer {
//         padding-left: $LEFTBAR_MD_WIDTH;
//     }

//     left_bar {
//         width: $LEFTBAR_MD_WIDTH;
//     }

//     .content {
//         flex-flow: column;

//         .main {
//             padding: 15px;
//             flex: 1;
//         }

//         right_bar {
//             flex: 1;
//             min-height: 100px;
//             min-width: 100%;
//         }
//     }
// }


/**Layout for Small Size 360px */

@media only screen and (max-width: $LAYOUT_SM) {

	header,
	.content,
	footer {
		padding-left: 0;
	}

	//hide left bar and position it under header bar
	left_bar {
		width: 100%;
		height: $LEFTBAR_SM_HEIGHT;
		top: $HEADER_HEIGHT;
		z-index: 2;
		display: flex;
		align-items: center;
	}

	.content {
		padding-top: $HEADER_HEIGHT + $LEFTBAR_SM_HEIGHT;

		.main {
			padding: 10px;
		}
	}

	.landing-page .content {
		//margin-top:$HEADER_HEIGHT;
		//margin-top:0;
		padding-top: $HEADER_HEIGHT;
	}
}