
#browse-student{
	max-width: none;
}

.browse-student{

	.browse-student-filter, .browse-student-list{
		text-align: left;
		background:white;
		box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.2);
		border-radius: 3px;
	}

	.browse-student-filter{
		margin-bottom: 20px;
		font-size: 12px;

		.bsf-section{
			padding: 10px;
			border-bottom: 1px solid #b3b3b3;

			.bsf-title{
				font-weight: bold;
				margin-bottom: 10px;
			}
		}

		.bsf-section:last-of-type{
			border-bottom: none;
		}

	}
	.browse-student-list{
	}
}