@import "define/variable.scss";

a{
    cursor:pointer;   
}

a.dark,
a.button-icon.dark{
    color:lighten($COLOR_LINK, 10);
}

a.dark:hover,
a.button-icon.dark:hover{
    color:lighten($COLOR_LINK, 20);
}
