// card generally
.card {
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  margin: 10px;
  background: white;
}

.card.clickable {
  cursor: pointer;
}
.card.clickable:hover {
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.5);
}

.empty-card {
}
