@import "define/variable.scss";


// card generally
.card {
  box-shadow: $CARD_SHADOW;
  margin: 10px;
  background: white;
}

.card.clickable {
  cursor: pointer;
}
.card.clickable:hover {
  box-shadow: $CARD_SHADOW_HOVER;
}

.empty-card {
}
