@import "define/variable.scss";

// $THEME_1: #286090;
// $THEME_2: lightblue;
$THEME_1: $COLOR_DARK;
$THEME_2: $COLOR_HEADER_LINK;

$CHAT_HEIGHT_HEADER: 65px;
$CHAT_HEIGHT_BODY: 400px;
$CHAT_HEIGHT_TEXT_BOX: 80px;
$CHAT_HEIGHT_TOTAL: $CHAT_HEIGHT_HEADER + $CHAT_HEIGHT_BODY + $CHAT_HEIGHT_TEXT_BOX;

$MARGIN: 40%;

#my-inbox.main {
  // max-width: none;
  padding: 10px 10px;
}

#chat {
  margin: auto;
  // margin-bottom: 20px;

  .chat-header {
    .profile-card.profile-li {
      grid-template-columns: 1fr 8fr;
      grid-template-rows: 1fr 1fr;
    }

    background: $THEME_1;
    color: white;
    display: flex;
    flex-wrap: wrap;

    a {
      color: white;
    }

    .ch-action {
      position: absolute;
      right: 22px;
      top: 40px;
      font-size: 14px;
    }

    @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
      .ch-action {
        right: 9px;
      }
    }

    .ch-info {
      height: $CHAT_HEIGHT_HEADER;
      //.profile-card.profile-li {
      //grid-template-columns : 1fr 6fr;
      //}

      .profile-card {
        margin: 7px 8px;

        .pc-picture {
          margin-right: 10px;
        }

        .pc-title,
        .pc-subtitle {
          color: white;
        }
      }

      flex-grow: 3;
    }
  }

  .chat-box {
    // border: 1px solid $THEME_1;
    border-bottom: none;
    background: #e5ddd5;
    height: $CHAT_HEIGHT_BODY;
    overflow-y: scroll;
    padding: 10px 15px;
    margin: 0;

    .chat-item {
      text-align: left;
      margin: 7px 0px;
      padding: 4px 2px;
      padding: 5px;
      border-radius: 5px;

      .timestamp {
        font-size: 9px;
        display: block;
        text-align: right;
        color: gray;
      }
    }

    .chat-item:last-of-type {
      margin-bottom: 10px;
    }

    .self-item {
      margin-left: $MARGIN;
      background: #dcf8c6;
      color: #303030;
      // border: solid 1px $THEME_1;
    }

    .other-item {
      margin-right: $MARGIN;
      background: white;
      // border: solid 1px #303030;
      color: #303030;

      a,
      a:hover {
        opacity: 0.9;
        color: white;
        text-decoration: underline;
      }

      a:hover {
        opacity: 1;
      }

      .timestamp {
        color: $THEME_2;
      }
    }

    .special-item {
      display: table;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 2px 10px;
      border-radius: 5px;
      background: gainsboro;
      font-size: 10px;
      text-align: center;
    }
  }

  .chat-input {
    height: $CHAT_HEIGHT_TEXT_BOX;
    display: flex;
    padding: 10px;
    background: #f0f0f0;
    border: #e5ddd5 1px solid;

    textarea {
      border-radius: 10px;
      border: 1px;
      flex-grow: 3;
      padding: 3px 5px;
      margin-right: 10px;
    }

    .btn-add-file {
      margin-right: 5px;
      color: #a2a2a2;
      background: rgba(0, 0, 0, 0);
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    .btn-add-file:hover {
      color: #6e6e6e;
      background: rgba(0, 0, 0, 0);
    }
    .btn-add-file:active {
      color: #a2a2a2;
    }

    button.btn-send {
      border-radius: 5px !important;
      background-color: #5682a3;
      border: none;
    }
    button.btn-send:hover {
      background-color: darken(#5682a3, 10);
    }
    button.btn-send:active {
      background-color: #5682a3;
    }
  }
}

#chat-list {
  // scrollbar-color: rgba(0, 0, 0, 0.2) hsla(0, 0%, 100%, 0.1);
  // scrollbar-width: thin;
  border: 1px solid #dfe5ec;
  background: white;
  margin-bottom: 20px;
  // border: solid 1px $THEME_1;
  // height: $CHAT_HEIGHT_TOTAL;
  .cl-column {
    // min-height: $CHAT_HEIGHT_BODY + $CHAT_HEIGHT_TEXT_BOX -3px;
  }
  .cl-header {
    text-align: left;
    padding: 10px;
    background: #5682a3;
    height: $CHAT_HEIGHT_HEADER;
    color: white;
    .clh-title {
      display: flex;
      font-size: 16px;
      .profile-card {
        margin: 0;
        padding: 0;
        margin-right: 15px;
      }
    }
  }

  .cl-parent-body {
    // display: flex;
  }

  .cl-list {
    // border: solid 1px $THEME_1;
    // width: 100%;
    height: 100%;
    height: $CHAT_HEIGHT_BODY + $CHAT_HEIGHT_TEXT_BOX - 3px;
    overflow-y: scroll;
    // border-right: 1px solid;

    .frm-content {
      white-space: nowrap;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chat-file {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    margin-bottom: 4px;
    background: #cfe9ba;
    color: #303030;
    text-decoration: none;

    &:hover {
      background: #c3e8a6;
    }

    &:active {
      background: #cfe9ba;
    }

    i.fa {
      margin-right: 7px;
      color: #79909b;
    }

    .cf-name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  .cl-chat {
    // width: 100%;

    .chat-box {
      border: none;
    }

    .chat-box-empty {
      margin-top: 20px;
      // height: $CHAT_HEIGHT_BODY + $CHAT_HEIGHT_TEXT_BOX - 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      color: darkgray;
    }
  }
}
