@import "define/variable.scss";

$THEME_1: #286090;
$THEME_2: lightblue;
$MARGIN: 30%;
#chat {
    margin: auto;
    margin-bottom: 20px;
    .chat-header {

        .profile-card.profile-li{
            grid-template-columns: 1fr 8fr;
            grid-template-rows: 1fr 1fr;
        }

        background: $THEME_1;
        color: white;
        display: flex;
        flex-wrap: wrap;
        
        a {
            color: white;
        }

        .ch-action{
            position: absolute;
            right: 22px;
            top: 40px;
            font-size: 14px;
        }

        @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
            .ch-action {
                right: 9px;
            }
        }
        .ch-info {

            //.profile-card.profile-li {
                //grid-template-columns : 1fr 6fr;
            //}
            
            .profile-card {
                margin: 7px 8px;
                .pc-title,
                .pc-subtitle {
                    color: white;
                }
            }
            flex-grow: 3;
        }
    }
    .chat-box {
        border: 1px solid $THEME_1;
        border-bottom: none;
        height: 315px;
        overflow-y: scroll;
        padding: 10px 5px;
        margin: 0;
        .chat-item {
            text-align: left;
            margin: 5px 0px;
            padding: 4px 2px;
            padding: 5px;
            .timestamp {
                font-size: 9px;
                display: block;
                text-align: right;
                color: gray;
            }
        }
        .chat-item:last-of-type {
            margin-bottom: 10px;
        }
        .self-item {
            margin-left: $MARGIN;
            background: white;
            color: $THEME_1;
            border: solid 1px $THEME_1;
        }
        .other-item {
            margin-right: $MARGIN;
            background: $THEME_1;
            border: solid 1px $THEME_1;
            color: white;
            a,
            a:hover {
                opacity: 0.9;
                color: white;
                text-decoration: underline;
            }
            a:hover {
                opacity: 1;
            }
            .timestamp {
                color: $THEME_2;
            }
        }
        .special-item {
            display: table;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 2px 10px;
            border-radius: 5px;
            background: gainsboro;
            font-size: 10px;
            text-align: center;
        }
    }
    .chat-input {
        display: flex;
        textarea {
            flex-grow: 3;
            padding: 3px 5px;
        }
        button {}
    }
}