@import "define/mixin.scss";

$CIMB_RED_DARK : #66000f;
$CIMB_RED_DARK_LIGHT : #9f505c;
$CIMB_RED : #ff0000;

// #############################################
// #############################################
// LANDING PAGE SPECIFIC
body.landing-page {
  .primary-layout.cf-CIMB {
    .content-landing-page {
      background: rgba(0, 0, 0, 0.35) !important;
    }
  }
}

.primary-layout.cf-CIMB {
  // #############################################
  // #############################################
  // HEADER
  $COLOR_HEADER: white;
  $COLOR_HEADER_LINK: $CIMB_RED_DARK_LIGHT;
  $COLOR_HEADER_TITLE: $CIMB_RED_DARK;
  $COLOR_HEADER_SUBTITLE: $CIMB_RED_DARK_LIGHT;
  $COLOR_HEADER_LINK_ACTIVE: $CIMB_RED_DARK ;

  header {
    .img img {
      padding: 5px;
    }

    background: $COLOR_HEADER;
    .title {
      color: $COLOR_HEADER_TITLE;
      small {
        color: $COLOR_HEADER_SUBTITLE;
      }
    }
    .menu,
    .menu-small {
      a {
        color: $COLOR_HEADER_LINK;
      }
      a:hover {
        color: $COLOR_HEADER_LINK_ACTIVE;
      }
    }

    .menu {
      ul {
        .active {
          color: $COLOR_HEADER_LINK_ACTIVE;
        }
      }
    }

    .menu-small {
      ul {
        background: $COLOR_HEADER;
      }
    }
  }



  // #############################################
  // #############################################
  // CHAT
  #chat {
    .chat-input {
      button {
        color: white;
        background-color: #820024;
      }

      button:hover {
        background-color: darken(#820024, 10);
      }

      button:active {
        background-color: #820024;
      }
    }

    .chat-box .other-item {
      background-color: #820024;
    }
  }
  #chat-list {
    .cl-header {
      background-color: #820024;
    }
  }

  // #############################################
  // #############################################
  // BUTTON

  // text, background, border
  @include custom_btn_default("success", $CIMB_RED, white, $CIMB_RED);
  @include custom_btn_focus("success", $CIMB_RED, #f8f1f1, $CIMB_RED);
  @include custom_btn_active("success", $CIMB_RED, white, $CIMB_RED);

  @include custom_btn_default("default", $CIMB_RED, white, $CIMB_RED);
  @include custom_btn_focus("default", $CIMB_RED, #f8f1f1, $CIMB_RED);
  @include custom_btn_active("default", $CIMB_RED, white, $CIMB_RED);

  @include custom_btn_default("primary", white, $CIMB_RED, $CIMB_RED);
  @include custom_btn_focus("primary", white, #e60606, $CIMB_RED);
  @include custom_btn_active("primary", white, $CIMB_RED, $CIMB_RED);

  @include custom_btn_default("blue", white, $CIMB_RED, $CIMB_RED);
  @include custom_btn_focus("blue", white, #e60606, $CIMB_RED);
  @include custom_btn_active("blue", white, $CIMB_RED, $CIMB_RED);

}
