#focus-card .background{
    display: none;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#focus-card .fc-content{
    min-height: 100px;
    width: 100%;
    background: whitesmoke;
} 

#focus-card .fc-content .header{
    position: relative;
    background: #465363;
    color:white;
    border-bottom: grey 1px solid;
    padding: 10px 2px;
}

#focus-card .fc-content .close-btn{
    position: absolute;
    right: 5px;
    top: 2px;
}

#focus-card .fc-content .title{
    font-size:15px;
    font-style: oblique;
}


/*make popup*/
@media only screen and (max-width: 860px){
    #focus-card .background{
        display: block;
    }
    #focus-card .fc-content{
        position:fixed;
        top:0;
        z-index: 10;

        width: 450px;
        margin-left: -225px;
        left: 50%;

        max-width: 100vw;
        height: 90vh;

    }

    @media only screen and (max-width: 450px){
        #focus-card .fc-content{
            margin-left: 0px;
            left: 0;
        }
    }
}