#focus-card{
    border: dotted black 1px;
    min-height: 100px;
    width: 100%;
} 

/*make popup*/
@media only screen and (max-width: 860px){

    #focus-card{
        display: none;
        
        position:fixed;
        top:0;
        z-index: 10;

        width: 450px;
        margin-left: -225px;
        left: 50%;

        box-shadow: 5px 3px 10px rgba(0,0,0,0.5);
        max-width: 100vw;
        height: 90vh;
        background: white;
    }

    @media only screen and (max-width: 450px){
        #focus-card{
            margin-left: 0px;
            left: 0;
        }
    }
}