@import "define/variable.scss";

.forum{
    padding: 7px 0;
    display: flex;
    text-align: left;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    .frm-image{
        margin: 0;
        margin-right: 7px;
    }
    .frm-body{
        .frm-title{
           
        }
        .frm-timestamp{
            font-size: 80%;
            color: gray;
        }
        .frm-content{

        }
    }
}

// .forum.frm-first{
//     border-top: none;
// }

.forum.frm-reply{
    border-top: none;
    .frm-image{
        margin-left: 45px;
    }
}


@media only screen and (max-width: $LAYOUT_SM_BOOTSTRAP){
    .forum{
    
    }
}

