@import "define/variable.scss";

$SHADOW : rgba(0, 0, 0, 0.2);
.forum-info{
    border:solid 1px $SHADOW;
}

$MARGIN_COMMENT : 20px;
$MARGIN_REPLY: 45px;
$MARGIN_IMAGE: 7px;

//# text area ################
.forum-textarea-comment, .forum-textarea-reply{
    display: flex;
    margin-left: $MARGIN_COMMENT;
    .frm-txt-count{
        text-align: right;
        font-size: 80%;
        color: gray;
        align-self: flex-end;
        padding-left: 5px;
    }

    .text-red{
        color: red;
    }
}


.forum-textarea-reply{
    margin-left: $MARGIN_REPLY + $MARGIN_IMAGE;
    margin-right: 10px; 
}

// parent list
.forum-comment{
    text-align: left;
    // to create margin between info at left
    margin-left:$MARGIN_COMMENT;
    border-bottom:dotted 1px $SHADOW;
    border-top:none;
    padding-bottom: 10px;
    small a.btn_link{
        margin-left: $MARGIN_REPLY;
    }
}

@media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP){
    .forum-comment, .forum-textarea-comment{
        margin-left:0;
    }
}

// #############################
// forum item ------------------

.forum{
    padding: 7px;
    display: flex;
    text-align: left;
    .frm-image{
        .pc-picture{
            border: solid 1px $SHADOW;
        }
        margin: 0;
        margin-right: $MARGIN_IMAGE;
    }
    .frm-body{
        p{
            text-align: justify;
            padding-right: 5px;
        }
        .frm-title{
           font-weight: bold;
        }
        
        .frm-timestamp{
            margin-top: 4px;
            font-size: 80%;
            color: gray;
            .frm-action{
                padding: 0 4px;
                border-right: solid 1px $SHADOW;
            }
            .frm-action:first-of-type{
                padding-left: 0;
            }
            .frm-action:last-of-type{
                border-right: none;
            }
        }

        .frm-content{
            background: white;
            padding: 4px 10px;
            border-radius: 14px;
            border: solid 1px $SHADOW;
        }
    }
}

.forum.frm-reply{
    border-top:none;
    margin-left: $MARGIN_REPLY;
}

//# chat list in support page ################
.chat-list{
    border-bottom: 1px solid $SHADOW;
}

.chat-list:last-of-type{
    border-bottom: none;
}