.gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;


    .gallery-arrow.arrow-left {
        margin-right: 5px;
    }

    .gallery-arrow.arrow-right {
        margin-left: 5px;
    }

    // list
    .gallery-list {
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        //overflow: hidden;

        // border: solid #d4d4d4 1px;
        // padding: 5px;
        padding-bottom: 10px;
        overflow-x:scroll;

        .gallery-item {
            margin: 0 4px;
            border: solid 1px darkgray;

            .preview {
                iframe {
                    width: 100%;
                    overflow: hidden;
                }

                .gallery-icon {
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                min-height: 15px;
                padding: 10px;
            }
        }

        .gallery-item:first-of-type {
            margin-left: 0;
        }

        .gallery-item:last-of-type {
            margin-right: 0;
        }
    }
}

// Sizing
$IFRAME_WIDTH : 300px;

.gallery-lg {
    .gallery-list {
        .gallery-item {
            .preview {
                min-height: 50px;
                min-width: 50px;

                iframe {
                    height: 150px;
                    width: $IFRAME_WIDTH;
                }

                .gallery-icon {
                    height: 50px;
                }
            }
        }

        .gallery-item.gi-iframe {
            max-width: $IFRAME_WIDTH;
        }

        .gallery-item.gi-icon {
            max-width: 150px;
        }
    }

}


// #gallery-custom {


//     * {
//         box-sizing: border-box
//     }

//     /* Slideshow container */
//     .slideshow-container {
//         max-width: 1000px;
//         position: relative;
//         margin: auto;
//     }

//     /* Hide the images by default */
//     .mySlides {
//         display: none;
//     }

//     /* Next & previous buttons */
//     .prev,
//     .next {
//         cursor: pointer;
//         position: absolute;
//         top: 50%;
//         width: auto;
//         margin-top: -22px;
//         padding: 16px;
//         color: white;
//         font-weight: bold;
//         font-size: 18px;
//         transition: 0.6s ease;
//         border-radius: 0 3px 3px 0;
//         user-select: none;
//     }

//     /* Position the "next button" to the right */
//     .next {
//         right: 0;
//         border-radius: 3px 0 0 3px;
//     }

//     /* On hover, add a black background color with a little bit see-through */
//     .prev:hover,
//     .next:hover {
//         background-color: rgba(0, 0, 0, 0.8);
//     }

//     /* Caption text */
//     .text {
//         color: #f2f2f2;
//         font-size: 15px;
//         padding: 8px 12px;
//         position: absolute;
//         bottom: 8px;
//         width: 100%;
//         text-align: center;
//     }

//     /* Number text (1/3 etc) */
//     .numbertext {
//         color: #f2f2f2;
//         font-size: 12px;
//         padding: 8px 12px;
//         position: absolute;
//         top: 0;
//     }

//     /* The dots/bullets/indicators */
//     .dot {
//         cursor: pointer;
//         height: 15px;
//         width: 15px;
//         margin: 0 2px;
//         background-color: #bbb;
//         border-radius: 50%;
//         display: inline-block;
//         transition: background-color 0.6s ease;
//     }

//     .active,
//     .dot:hover {
//         background-color: #717171;
//     }

//     /* Fading animation */
//     .fade {
//         -webkit-animation-name: fade;
//         -webkit-animation-duration: 1.5s;
//         animation-name: fade;
//         animation-duration: 1.5s;
//     }

//     @-webkit-keyframes fade {
//         from {
//             opacity: .4
//         }

//         to {
//             opacity: 1
//         }
//     }

//     @keyframes fade {
//         from {
//             opacity: .4
//         }

//         to {
//             opacity: 1
//         }
//     }


// }