ul{
    padding: 0;
    list-style: none;
}

p{
    text-align: justify;
}


.simple-li{
    margin-bottom: 25px;
    text-align:justify;

    .sili-title{
        font-weight: bold;
        font-size: 15px;
    }

    .sili-subtitle{
        color: gray;
    }

    .sili-description{
        height: 56px;
        overflow-y: hidden;
    }
}

.simple-li:last-of-type{
    margin-bottom: 0;
}