@import "define/variable.scss";

// ##################################
// show

// .show-on-lg-and-more {
//   display: none;
//   @media only screen and (min-width: $LAYOUT_MD_BOOTSTRAP + 1) {
//     display: initial;
//   }
// }

// .show-on-md-and-less {
//   display: none;
//   @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
//     display: initial;
//   }
// }
.text-truncate-1{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.text-truncate-2{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.text-truncate-3{
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.show-on-lg-and-more {
  display: none;
  @media only screen and (min-width: $LAYOUT_MD_BOOTSTRAP + 1) {
    display: block;
  }
}

.show-on-md-and-less {
  display: none;
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    display: block;
  }
}

.btn-row-block{
  .btn-block+.btn-block{
    margin-top: 0 !important;
    margin-left: 6px !important;
  }
  // .btn-block{
  //   margin: 0px 3px;
  // }
}



// ##################################
// center
.center-on-md-and-less {
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    text-align: center;
  }
}

// ##################################
// break
.break-10-on-md-and-less {
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    height: 15px;
    display: inline-block;
  }
}
.break-15-on-md-and-less {
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    height: 15px;
    display: inline-block;
  }
}
.break-20-on-md-and-less {
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    height: 20px;
    display: inline-block;
  }
}


// ##################################
// no-padding
.no-padding-on-md-and-less {
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    padding: 0px;
  }
}

// ##################################
// no-margin
.no-margin-on-md-and-less {
  @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    margin: 0px;
  }
}