@import 'define/variable.scss';
ul {
    padding: 0;
    list-style: none;
}

ul.normal {
    padding-left: 20px;
    list-style: initial;
}

[hidden] {
    display: none !important;
}

p {
    //text-align: justify;
    text-align: left;
    margin: 0;
    white-space: pre-line;
}

.fa.left {
    margin-right: 5px;
}

.no-padding {
    padding: 0;
}

// used in session
.padding-right {
    padding-right: 10px;
}

.padding-left {
    padding-left: 10px;
}

div.line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, white, darkgray, white);
}

@media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
    .no-padding-medium {
        padding: 0;
    }
}
@media only screen and (max-width: $LAYOUT_SM_BOOTSTRAP) {
    .no-padding-small {
        padding: 0;
    }
    .padding-right,
    .padding-left {
        padding-left: 0px;
        padding-right: 0px;
        padding: 10px 0px;
    }
}

h3.left {
    border-bottom: solid 2px darkgray;
    text-align: left;
}

.flex-wrap {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.static-page {
    max-width: 500px;
    margin: auto;
}

//#######################################
// CARD  ###################
.card-container {
    margin: auto;
    text-align: center;
    max-width: 500px;
    background: white;
    box-shadow: 3px 4px 5px -4px rgba(0, 0, 0, 0.7);
    padding: 20px 15px;
    h3 {
        margin: 0px;
    }
}