@import 'define/variable.scss';

ul{
    padding: 0;
    list-style: none;
} 

[hidden]{
    display:none !important;
}

p{
    text-align: justify;
    margin: 0;
    white-space: pre-line;
}

.fa.left{
    margin-right: 5px;
}

.no-padding{
    padding: 0;
}

// used in session
.padding-right{
    padding-right: 10px;
}

.padding-left{
    padding-left: 10px;
}

@media only screen and (max-width: $LAYOUT_SM_BOOTSTRAP){
    .padding-right, .padding-left{
        padding-left: 0px;
        padding-right: 0px;
        padding: 10px 0px;
    }
}

h3.left{
    border-bottom: solid 2px darkgray;
    text-align: left;
}

.flex-wrap{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}