ul{
    padding: 0;
    list-style: none;
}

[hidden]{
    display:none !important;
}

p{
    text-align: justify;
    margin: 0;
}

.fa.left{
    margin-right: 5px;
}

.no-padding{
    padding: 0;
}

h3.left{
    border-bottom: solid 2px darkgray;
    text-align: left;
}

.flex-wrap{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}