@import "define/variable.scss";

// ####################################
// CONSTANTS 
$HWW_ALL: 480px;
$HWW_IMAGE: 100px;
$HWW_ACTION: 125px;

$HWW_ALL_SM : 415px;
$HWW_IMAGE_SM: 70px;
$HWW_ACTION_SM: 100px;

// ####################################
// MIXIN
@mixin hall_webinar_size_and_position($widthAll, $widthImage, $widthAction) {
    $widthDetails: $widthAll - $widthImage - $widthAction;

    .hall-webinar {
        width: $widthAll;

        .hw-image {
            width: $widthImage;

        }

        .hw-details {
            width: $widthDetails;
        }

        .hw-action,
        .hw-time {
            width: $widthAction;

        }
    }
}

body.body-hall-page {
    .main {
        padding: 0px;
        //max-width: none;
        max-width: 100%;
    }
}


.hall-page {
    .title-section {
        font-size: 18px;
        padding: 15px;
        background: #e6e6e6;
        color: $COLOR_DARK;
        border-top: 1px solid $COLOR_TITLE;
        border-bottom: 1px solid $COLOR_TITLE;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        // width: 100%;
        // position: absolute;
        // left: 0;
    }

    .gallery-section {
        //height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sponsor-section {
        padding: 10px 0;

        .sponsor-card {
            border-radius: 7px;
            overflow: hidden;

            .title {
                font-weight: initial;
                width: 130px;
                padding: 0px 3px;
            }
        }
    }



    .hall-webinar {
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background: white;
        margin-bottom: 20px;
        box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.7);

        .hw-image {
            align-self: center;

            .profile-card {
                margin: 10px;
            }
        }

        .hw-details {
            padding: 5px 7px;
            align-self: center;
        }

        .hw-action,
        .hw-time {
            font-size: 17px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hw-action:hover {
            text-decoration: none;
        }


        .hw-action {
            .fa{
                font-size: 45px;
            }
            cursor: pointer;
        }

        .hw-time {
            background: #e1e1e1;
            color: #3f3d3d;
        }
    }

    @include hall_webinar_size_and_position($HWW_ALL, $HWW_IMAGE, $HWW_ACTION);
}