@import "define/variable.scss";

// ####################################
// CONSTANTS 
$HWW_ALL: 420px;
$HWW_IMAGE: 90px;
$HWW_ACTION: 120px;

$HWW_ALL_SM : 415px;
$HWW_IMAGE_SM: 70px;
$HWW_ACTION_SM: 100px;

// ####################################
// MIXIN
@mixin hall_webinar_size_and_position($widthAll, $widthImage, $widthAction) {
    $widthDetails: $widthAll - $widthImage - $widthAction;

    .hall-webinar {
        width: $widthAll;

        .hw-image {
            width: $widthImage;

        }

        .hw-details {
            width: $widthDetails;
        }

        .hw-action,
        .hw-time {
            width: $widthAction;

        }
    }
}

.hall-page {
    .title-section {
        font-size: 25px;
        font-weight: bold;
        padding: 15px;
        background: #e6e6e6;
        color: #565656;
        //border-top: 1px solid $COLOR_TITLE;
        //border-bottom: 1px solid $COLOR_TITLE;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        // width: 100%;
        // position: absolute;
        // left: 0;
    }

    // .btn-action {
    //     margin: 10px 10px;
    //     padding: 15px 20px;
    //     width: 350px;
    //     max-width: 90vw;
    //     box-shadow: 2px 3px 10px -1px rgba(0, 0, 0, 0.5);
    //     border-radius: 15px !important;

    //     .fa {
    //         margin-bottom: 15px;
    //     }

    //     .inner-link {
    //         color: white;
    //         text-decoration: underline;
    //     }
    //     .inner-link:hover{
    //         font-weight: bold;
    //     }
    //     .inner-link:active{
    //         font-weight: initial;
    //         text-decoration: none;
    //     }
    // }

    // .title-section.ts-outline{
    //     background:none;
    //     border : 1px solid #e6e6e6;
    //     border-left: none;
    //     border-right: none;
    // }

    .gallery-section {
        //height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sponsor-section {
        padding: 10px 0;

        .sponsor-card {
            border-radius: 7px;
            overflow: hidden;

            .title {
                font-weight: initial;
                width: 130px;
                padding: 0px 3px;
            }
        }
    }



    .hall-webinar {
        border-radius: 7px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: white;
        margin: 0px 5px;
        margin-bottom: 20px;
        box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.4);

        .hw-image {
            align-self: center;

            .profile-card {
                margin: 10px 0px;
            }
        }

        .hw-details {
            padding: 5px 7px;
            align-self: center;
        }

        .hw-action,
        .hw-time {
            font-size: 17px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hw-action:hover {
            text-decoration: none;
        }

        .hw-action {
            .fa {
                font-size: 45px;
            }

            cursor: pointer;
        }

        .hw-time {
            height: 100%;
            background: #e1e1e1;
            color: #3f3d3d;
            flex-flow: column;
        }
    }

    @include hall_webinar_size_and_position($HWW_ALL, $HWW_IMAGE, $HWW_ACTION);

    @media only screen and (max-width: 500px) {
        .hall-webinar {
            width: 180px;
            margin: 10px;

            .hw-image,
            .hw-details,
            .hw-action,
            .hw-time {
                width: 100%;
            }

            .hw-details,
            .hw-action,
            .hw-time {
                padding: 10px;
            }
        }
    }
}