@import "define/variable.scss";
$MENU_SMALL_WIDTH: 130px;

header{
  display: flex;
  justify-content: center;
  flex-flow: column;
  z-index: 10;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
header .header-row {
  text-align: left;
  display: flex;
  align-items: center;
  // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); // logo
  
  .profile-card{
    margin : 0px 5px !important;
  }

  .img {
    height: 100%;
    margin-right: 2px;
    padding: 10px 2px;

    img {
      height: 100%;
    }
  }

  .title {
    color: $COLOR_HEADER_TITLE;
    line-height: 20px;
    font-size: 18px;
    flex-grow: 2;

    small {
      color: $COLOR_HEADER_SUBTITLE;
    }
  }

  .menu_count {
    color: white;
    background: #f62626;
    font-size: 13px;
    border-radius: 100%;
    margin-left: 5px;
    height: 22px;
    width: 22px;
    font-weight: bold;
    text-align: center;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
  }

  .menu,
  .menu-small, 
  .menu-small-new {
    font-size: 17px;
    // flex-grow: 2;
    padding: 0 10px;

    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }

    a {
      color: $COLOR_HEADER_LINK;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
      color: $COLOR_HEADER_LINK_ACTIVE;
    }
  }

  .menu {
    ul {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      justify-content: flex-end;

      li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding : 0px 7px;
        padding-top : 5px;
        padding-bottom: 11px;

        i.fa{
          font-size: 20px;
          padding-right: 5px;
        }
      }
      .active {
        //border-bottom: $COLOR_HEADER_LINK solid 2px;
        font-weight: bold;
        color: $COLOR_HEADER_LINK_ACTIVE;
        li{
          border-bottom: 4px solid $COLOR_HEADER_LINK_ACTIVE;
        }
      }

      a {
        margin-left: 20px;
      }

      // a:last-of-type{
      //     margin-right: 0px;
      // }
    }
  }

  // menu small
  .menu-small {
    display: none;
    text-align: right;
    padding-right: 30px;

    .button-icon {
      height: 100%;
    }

    .button-icon:hover + ul,
    ul:hover {
      display: initial;
      right: 0;
    }

    ul {
      position: absolute;
      right: -$MENU_SMALL_WIDTH;
      width: $MENU_SMALL_WIDTH;
      transition: right 0.2s ease-out;
      height: 100vh;
      background: $COLOR_HEADER;
      top: 40px;
      padding: 10px 0;
    }

    li {
      padding: 10px 10px;
    }
  }

  .menu-small-new {
    display: none;
    text-align: right;
    padding-right: 30px;
    .button-icon {
      height: 100%;
    }
  }
}

@media only screen and (max-width: $LAYOUT_LG) {
  //Change Menu to button
  header .header-row{
    .menu {
      display: none;
    }

    .profile-card{
      display: none;
    }

    .menu-small,
    .menu-small-new {
      display: initial;
    }
  }
}

@media only screen and (max-width: $LAYOUT_SM) {
  //Change Menu to button
  header .header-row{
    .title {
      display: none;
    }

    .profile-card{
      display: none;
    }

    .menu-small, .menu-small-new{
      width: 100%;
    }
  }
}

header.app-hidden {
  background: white;
  opacity: 0.1;
  border-bottom: 1px solid black;
}
