@import "define/variable.scss";

header {
    text-align: left;
    display:flex;
    align-items: center;
    z-index: 3;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

    // logo
    .img{
        height: 100%;
        margin-left:10px;
        margin-right:10px;
        padding:2px;

        img{
            height: 100%;
        }
    }

    .title{
        line-height: 15px;
    }

    .menu, .menu-small{
        flex-grow:2;
        padding: 0 10px;

        ul{
            margin:0;
            list-style: none;
            padding: 0;
        }
    }

    .menu {

        ul{
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            justify-content: flex-end;

            li{
                margin-right:35px;
            }
        }
    }

    // menu small
    .menu-small{
        display: none;
        text-align: right;

        .button-icon{
            height: 100%;
        }


        .button-icon:hover + ul,
            ul:hover{
            display: initial;
            right: 0;
        }

        ul{
            position: absolute;

            right: -100px;
            width: 100px;

            transition: right 0.2s ease-out;

            height: 100vh;
            background: white;

            top:40px;
            padding:10px 0;
        }

        li{
            padding:0 10px;
        }
    }
}

@media only screen and (max-width: $LAYOUT_LG){
    //Change Menu to button
    header {
        .menu{
            display: none;
        }

        .menu-small{
            display: initial;
        }
    }
}
