@import "define/variable.scss";

body.landing-page{
    //background-image: url("https://seedsjobfair.com/image/home/1_sm.jpg") !important;
    background-size: cover !important;
    //background-position: center center !important;
    background-attachment: fixed !important;

    .content{ 
        background: rgba(0,0,0,0.5) !important;
        .main{
            padding: 0 !important;
        }
    }
}


#home{
    #home-welcome{
        display: flex;
        min-height: 480px;
        flex-direction: column;
        color: whitesmoke;
        padding-bottom: 40px;

        h1{
            text-transform: uppercase;
            .subtitle{
                text-transform: initial;
                font-size: 80%;
            }
        }

        h1,h2,h3,h4,h5,h6{
            color:white;
        }

        small{
            opacity: 0.9;
            color:white;
        }

        .item-small{
            width: 90%;
            max-width: 500px;
            margin: auto;
        }

        .item-login{
            background: rgba(0,0,0,0.5);
            padding: 20px;

            h3{
               margin-top:0; 
            }

        }
    }

    #home-body{
        background: $COLOR_BACKGROUND;
        min-height: 350px;
        padding-bottom: 30px;
    }
}
