.input-label{
	font-size: 20px;
	font-weight: bold;
	transition: color ease 0.5s;
	color: #0c0c0c;
}

.input-label.blink-required {
	color : rgb(224, 30, 30);
}


.input-sublabel{
	font-size: 17px;
	color:gray;
	margin-bottom: 5px;
	margin-top: -8px;
}