$THEME: #3b3b90;
$MARGIN_SIDE: 7px;

.input-single {
  max-width: 100vw;
  .si-label {
    margin: 0px $MARGIN_SIDE;
    margin-bottom: 5px;
  }
  .si-sublabel {
    margin-left: $MARGIN_SIDE;
    margin-right: $MARGIN_SIDE;
  }

  .si-input {
    margin: 0px $MARGIN_SIDE;
  }
  .si-footer {
    margin: 0px $MARGIN_SIDE;
  }
}

.input-single.input-children {
  .si-input {
    margin: 0;
  }
}
