$TOP: 6px;
$RIGHT: 12px;
$FONT_SIZE: 25px;
.interested {
  z-index: 3;
  position: absolute;
  cursor: pointer;
  color: grey;

  top: $TOP;
  right: $RIGHT;
  font-size: $FONT_SIZE;

  .fa-heart:hover {
    top: $TOP - 2;
    right: $RIGHT - 2;
    font-size: $FONT_SIZE + 2;
  }
  .fa-heart:active {
    top: $TOP;
    right: $RIGHT;
    font-size: $FONT_SIZE;
  }

  .fa-spinner {
    color: grey;
  }
}

.interested.selected {
  color: red;
}
