@import "define/variable.scss";

$TOP: 6px;
$RIGHT: 12px;
$FONT_SIZE: 25px;
$FONT_SIZE_COUNT: 15px;
.interested {
  z-index: 3;
  position: absolute;
  cursor: pointer;
  color: grey;
  &.user{
    color : $COLOR-SEEDS;
  }

  top: $TOP;
  right: $RIGHT;
  font-size: $FONT_SIZE;

  .fa-spinner {
    color: grey;
  }
}

.interested.selected {
  color: red;
  &.user {
    color: $COLOR-SEEDS;
  }
}

.interested.in-action {
  .fa-heart:hover {
    top: $TOP - 2;
    right: $RIGHT - 2;
    font-size: $FONT_SIZE + 2;
  }
  .fa-heart:active {
    top: $TOP;
    right: $RIGHT;
    font-size: $FONT_SIZE;
  }
}

.interested.in-count {
  font-size: $FONT_SIZE_COUNT;
}
.interested.in-count:hover {
  color: red;
  &.user {
    color: $COLOR-SEEDS;
  }
}

.interested-bottom {
  top: unset;
  bottom: $TOP;
}
.interested-bottom.in-action {
  top: unset;
  bottom: $TOP;
  .fa-heart:hover {
    top: unset;
    bottom: $TOP - 2;
  }
  .fa-heart:active {
    top: unset;
    bottom: $TOP;
  }
}
