@import "define/variable.scss";

.lang-picker {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  // @media only screen and (max-width: $LAYOUT_MD_BOOTSTRAP) {
  //   text-align: center;
  // }
}
