@import "define/variable.scss";


.primary-layout.with-left-bar {
  // ##########################################################################
  // ##########################################################################
  // ##########################################################################
  // LAYOUT

  left_bar {
    .lbar-content {
      width: $LEFTBAR_LG_WIDTH;
      left: 0;
      top: 0;
      position: fixed;
      height: 100%;
      z-index: 12;
    }

    .lbar-background {
      display: none;
      position: fixed;
      background: rgba(0, 0, 0, 0.4);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 11;
    }
  }

  header,
  .content,
  footer {
    padding-left: $LEFTBAR_LG_WIDTH;
  }

  @media only screen and (max-width: $LAYOUT_LG) {
    header,
    .content,
    footer {
      padding-left: 0;
    }

    //hide left bar and position it under header bar
    left_bar {
      .lbar-content {
        left: inherit;
        right: -$LEFTBAR_LG_WIDTH;
        transition: right 0.4s ease-in-out;
      }
    }

    .content {
      .main {
        padding: 20px 10px;
      }
    }

    .landing-page .content {
      padding-top: $HEADER_HEIGHT;
    }
  }

  // ##########################################################################
  // ##########################################################################
  // ##########################################################################
  // DESIGN

  left_bar {
    .lbar-content {
      text-align: left;
      background: white;
      border-right: solid 1px $COLOR_BORDER_LAYOUT;

      .left_bar_profile {
        // border-right: solid 1px $COLOR_BORDER_LAYOUT;
        // width: $LEFTBAR_LG_WIDTH;
        // z-index: 13;
        // position: fixed;
        // left: 0;
        // top: 0;
        // background: white;
        padding: 10px 15px;

        .lbp-avatar {
          margin-right: 10px;
        }
        .lbp-name {
        }

        .profile-card {
          // .#{$PROFILE_CARD}picture {
          //   cursor: pointer;
          //   width: ($LEFTBAR_LG_WIDTH / 1.5) !important;
          //   height: ($LEFTBAR_LG_WIDTH / 1.5) !important;
          // }

          .#{$PROFILE_CARD}picture:hover {
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          }

          .pc-title,
          .pc-subtitle {
            color: black;
            font-weight: bold;
          }
        }
      }
      .left_bar_nav {
        position: absolute;
        top: 120px;
        left: 0;
        padding: 0px 15px;
        width: 100%;
        ul li {
          font-weight: bold;
          padding: 7px 10px;
          color: grey;
          display: flex;
          position: relative;
          border-radius: 15px;
          margin-bottom: 5px;
          .menu_count {
            color: white;
            background: #f62626;
            font-size: 10px;
            border-radius: 100%;
            height: 18px;
            width: 18px;
            position: absolute;
            right: 13px;
            top: 7px;
            font-weight: bold;
            text-align: center;
          }
        }

        ul li .fa {
          padding-right: 7px;
          width: 24px;
          text-align: center;
          margin-top: 3px;
        }

        ul a {
          text-decoration: none !important;
        }

        ul a.active li,
        ul li:hover {
          background-color: $COLOR-SEEDS-LIGHT;
          color: $COLOR-SEEDS;
        }

        ul li:active {
          background-color: $COLOR-SEEDS-LIGHT;
          color: $COLOR-SEEDS;
        }
      }
    }
  }
}
