.list-row {
	.lr-container {
		margin: auto;
		max-width: 1200px;
		padding: 20px;

		.lr-title {
			text-align: left;
            font-size: 30px;
		}

		.lr-body {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 100px;
            margin: 10px 0px;

        }

		.lr-footer {
            text-align: right;
            
		}
	}

}