.simple-li{
    margin-bottom: 25px;
    text-align:justify;
    border-bottom : whitesmoke 1px solid;

    .sili-title{
        font-weight: bold;
        font-size: 15px;
    }

    .sili-subtitle{
        color: gray;
    }

    .sili-body{
        height: 60px;
        overflow-y: hidden;
    }
}

.simple-li:last-of-type{
    margin-bottom: 0;
}


.profile-card.profile-li{
    display: grid;
    text-align: left;
    grid-template-columns : 1fr 4fr;
    grid-template-rows : 1fr 1fr;
    grid-template-areas: 
        "img title"
        "img subtitle";

    .pc-picture{
        grid-area : img;
    }

    .pc-title{
        align-self: end;
        grid-area : title;
    }

    .pc-subtitle{
        align-self: start;
        grid-area : subtitle;
    }
}