@import 'define/variable.scss';

// Simple List Item
// -- used in company-popup
.simple-li{
    margin-bottom: 25px;
    text-align:justify;
    border-bottom : whitesmoke 1px solid;

    .sili-title{
        font-weight: bold;
        font-size: 15px;
    }

    .sili-subtitle{
        color: gray;
        font-size: 85%;
    }

    .sili-body{
        height: 60px;
        overflow: hidden;
        font-size: 90%;
    }
}

.simple-li:last-of-type{
    margin-bottom: 0;
}

// Profile Card List Item
// -- used in company-popup
.profile-card.profile-li{
    display: grid;
    text-align: left;
    grid-template-columns : 1fr 4fr;
    grid-template-rows : 1fr 1fr;
    grid-template-areas: 
        "img title body"
        "img subtitle body";

    .pc-picture{
        grid-area : img;
    }

    .pc-title{
        align-self: end;
        grid-area : title;
    }

    .pc-subtitle{
        align-self: start;
        grid-area : subtitle;
    }

}

// -- used in activity-section
.profile-card.profile-li-with-body{
    background-color: white;
    box-shadow: 2px 4px 6px -3px rgba(0, 0, 0, 0.7);
    width: 120px;
    margin: 8px 5px;
    
    .pc-title{
        font-size: 15px;
        padding: 0px 5px;
        height: 40px;
        line-height: 15px;
        display: flex;
        align-items: center;
    }

    .pc-subtitle{
        font-size: 12px;
        line-height: 12px;
        padding: 0px 5px;
        margin: 5px;
    }

    .pc-body{
        margin-top:5px;
        .btn{
            width: 100%;
        }
    }

    .pc-picture{
        margin-top: 10px;
        border: darken($COLOR_BACKGROUND,10) 1px solid;
    }
}

// Custom List (Icon)
// -- used student popup
.custom-list-icon{
    font-size: 15px;

    .li-icon{
        margin-bottom: 10px;

        .cli-label{
            font-size: 80%;
            opacity:0.65;
            .fa {
                margin-right: 7px;
            }
        }

        .cli-value{

        }
    }
}

// Custom List (Label)
// -- used student popup
.custom-list-label{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;

    li{
        margin: 3px;
        border-radius: 8px;
        padding: 7px;
        font-weight: 100;

        .badge{
            background: rgba(0,0,0,0.3);
            border-radius: 100%;
            font-size: 10px;
            height: 15px;
            width: 15px;
            display: inline-flex;
            justify-content: center;
            margin-bottom: 3px;
            cursor: pointer;
        }

        .badge:hover{
            background: rgba(0,0,0,0.4);
        }

        .badge:active{
            background: rgba(0,0,0,0.5);
        }
    }
}

.custom-list-label.li-ux{
    li{
        cursor: pointer;
    }

    li:hover{
        opacity: 0.8;
    }

    li:active{
        opacity: 1;
    }
}