@import 'define/variable.scss';
// $page-sec : "page-sec";

.page-sec {

    .page-sec-title {
        color: $COLOR_TITLE;
    }

    .page-sec-body {
        padding-bottom: 15px;
        
        overflow-y: hidden;
    }

    // EUR FIX
    // kalau tk hidden nanti kat company punya page tak jadi
    .page-sec-overflow {
        overflow: visible;
    }
}

.page-sec:last-of-type {

    //border-bottom: none;
    .line {
        border: 0;
        height: 0;
    }
}

// Left
.page-sec.left {
    text-align: left;

    .page-sec-title {
        // border-bottom: 1px darkgray solid;
        padding-bottom: 4px;
    }

    .line {
        display: none;
    }
}