@import 'define/variable.scss';
$page-sec : "page-sec";

.#{$page-sec}{
    .line {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, white, darkgray, white);
    }

    .#{$page-sec}-title{
        color:$COLOR_TITLE;
    }
    
    .#{$page-sec}-body{
        padding-bottom: 15px;
    }
}

.#{$page-sec}:last-of-type{
    //border-bottom: none;
    .line {
        border: 0;
        height: 0;
    }
}