.content right_bar{
    max-height: 100%;

    .right-bar-item{
        text-align: left;
        margin-bottom:20px;

        h4{
            margin:10px 5px;
            margin-bottom:3px;
            opacity: 0.8;
        }

        .body{
            text-align: center;
            background: white;
        }
    }
}

