
$sec : "com-sec";

.#{$sec}{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .profile-card{
        margin: 5px 5px;
        width: 180px;
        padding: 10px 7px;
        cursor: pointer;
        border: gainsboro solid 1px;

        .pc-title{
            min-height: 40px;
            display: flex;
            align-items: center;
        }
    }

    .profile-card:hover{
        background: gainsboro;
    }

    .#{$sec}-status{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 5px;

        li{
            width: 54px;

            .#{$sec}-count{
                font-size: 25px;
            }

            .#{$sec}-label{
                text-align: center;
                opacity: 0.85;
                font-size: 9px;
                line-height: 12px;
                word-break: keep-all;
            }

        }
    }
}
