.note_card {
    background: #faf6bd;
    min-height: 185px;
    border: 1px solid #ec971f;
}

.note_card textarea {
    background: #f9f3a1;
}

.note_card .btn {
    width: 100%;
}

.note_card textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: gray !important;
}

.note_card textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: gray !important;
}

.note_card textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: gray !important;
}

.note_card textarea:-moz-placeholder {
    /* Firefox 18- */
    color: gray !important;
}

.note_container {
    border-bottom: 1px solid gainsboro;
    margin-top: 10px;
}

.note_content {
    text-align: justify;
    font-size: 13px;
}

.note_operation {
    font-size: 10px;
    display: flex;
}

.note_operation div {
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    color: darkgray;
}

.note_operation div:hover {
    color: #0084ff;
}

.note_operation div:active {
    color: blue;
}


/****** REC SESSION QUEUE ***********/

#session_queue {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px #5cb85c solid;
    background: #a0efa0;
    border-radius: 15px;
    color: #174c17;
}

#session_queue .title {
    font-size: 12px;
    opacity: 0.8;
}

#session_queue .val {
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
}


/****** Star Rating ***********/

.star_rating {
    padding: 5px;
    text-align: center;
    background: #faf6bd;
    margin-bottom: -5px;
    color: gray;
}

.star_rating_dummy {
    font-size: 150%;
    color: gainsboro;
    display: inline-flex;
}

.star_rating_dummy i.fa-star {
    padding: 5px;
}

.star_rating_dummy i.fa-star.starred {
    color: #ffd902;
}

.star_rating_dummy:hover i.fa-star {
    color: #ffd902;
}

.star_rating_dummy i.fa-star:hover {
    cursor: pointer;
}

.star_rating_dummy i.fa-star:hover~i.fa-star,
.star_rating_dummy i.fa-star:active~i.fa-star {
    color: gainsboro;
}


/*active **********/

.star_rating_dummy:active i.fa-star {
    color: #f9e04f;
}

.star_rating_dummy i.fa-star:active {
    color: #f9e04f;
}