@import "define/variable.scss";

$act_col: $COLOR_LINK;
$bck_col : white;
.sub-nav{

    .#{$SUB_NAV}header{
        //background: $bck_col;
        // this is content padding
        margin: -20px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
        // width: 100vw;
        // position: absolute;
        // left: 0;
        // top: $HEADER_HEIGHT + 5;
        // max-width: 100%;

        ul{
            margin: 0 10px;
            display: flex;
            height: 100%;
            flex-wrap: wrap;
            align-items: flex-end;
            
            a:focus, a:hover, a:active{
                text-decoration:none; 
            }
            
            li{
                color : black;
                margin: 0 10px;
                cursor: pointer;
                padding-bottom: 5px;

                .fa{
                    padding-right: 5px;
                }
            }


            li:hover{
                color:$act_col;
            }
           
            li.active{
                color:$act_col;
                border-bottom: solid $act_col 2px;
            }
        }


    }

    .#{$SUB_NAV}body{

    }
}


@media only screen and (max-width: $LAYOUT_SM){
    .sub-nav{
        .#{$SUB_NAV}header{
            ul li{
                font-size: 75%;
                margin: 0 3px;
            }
        }
    }
}