.suggestion-input {
	.input-field {
		input {
			border: darkgray 1px solid;
			padding: 4px 11px;
			border-radius: 3px;
			width: 50%;
		}
	}

	.suggestion-list {
		background: white;
		width: 50%;
		border: gray solid 1px;
		border-top: none;
		border-bottom: none;

		ul {
			padding: 0;
			margin: 0;

			li {
				padding: 4px 7px;
				border-bottom: gray solid 1px;
				cursor: pointer;
			}

			li:hover,
			li.highlight {
				background: whitesmoke;
			}
		}


	}
}