@import 'define/variable.scss';

#support-chat {    
    background: $COLOR_BACKGROUND;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    box-shadow: 4px 6px 10px 2px rgba(0,0,0,0.5);
    #chat{
       margin-bottom: 0;
   }
}