@import 'define/variable.scss';

#support-chat {    
    background: $COLOR_BACKGROUND;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.5);

    #chat{
        .chat-box{
            border: none;
        }

        max-width: 100vw;
        width: 350px;
        margin-bottom: 0;

        .chat-header .profile-card.profile-li {
            grid-template-columns: 1fr 5fr;
        }
    }

}

#support-chat.sc-open{
    border-radius: 65px;
    margin: 10px;
    
    .btn.btn-success{
        border-radius: 65px !important;
    }
 
}