@import "define/variable.scss";

$COLOR_LEFT : #2d2d9b;
$COLOR_RIGHT : #c30b1a;

@mixin as_dimension($parentWidth, $parentHeight,
    $sliderOffsetTranslate, $sliderDimension, $sliderLeft, $sliderBottom,
    $textPadding) {
    .app-switch {
        width: $parentWidth;
        height: $parentHeight;

        $offsetTranslate: ($parentWidth / 2) + $sliderOffsetTranslate;

        input:checked+.as-slider:before {
            -webkit-transform: translateX($offsetTranslate);
            -ms-transform: translateX($offsetTranslate);
            transform: translateX($offsetTranslate);
        }

        .as-slider:before {
            height: $sliderDimension;
            width: $sliderDimension;
            left: $sliderLeft;
            bottom: $sliderBottom;
        }

        .as-text-container {
            .as-text {
                padding: $textPadding;
            }
        }
    }
}

@include as_dimension(80px, // parentWidth
    34px, // parentHeight
    6px, // sliderOffsetTranslate
    26px, // sliderDimension
    4px, // sliderLeft
    4px, // sliderBottom
    7px 10px // textPadding
);

// @include as_dimension(50px, // parentWidth
//     24px, // parentHeight
//     6px, // sliderOffsetTranslate
//     15px, // sliderDimension
//     4px, // sliderLeft
//     4px, // sliderBottom
//     7px 10px // textPadding
// );

.app-switch {
    position: relative;
    display: inline-block;
    // width: 60px;
    // height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    input:checked+.as-slider {
        background-color: $COLOR_LEFT;
    }

    input:focus+.as-slider {
        box-shadow: 0 0 1px #2196F3;
    }

    // input:checked+.as-slider:before {
    //     -webkit-transform: translateX(26px);
    //     -ms-transform: translateX(26px);
    //     transform: translateX(26px);
    // }

    .as-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $COLOR_RIGHT;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .as-slider:before {
        position: absolute;
        content: "";

        // height: 26px;
        // width: 26px;
        // left: 4px;
        // bottom: 4px;

        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    /* Rounded sliders */
    .as-slider.round {
        border-radius: 34px;
    }

    .as-slider.round:before {
        border-radius: 100%;
    }

    input:checked+.as-slider {
        .as-text-container {
            .text-left {
                opacity: 1;
            }

            .text-right {
                opacity: 0;
            }
        }
    }

    .as-text-container {
        position: relative;
        width: 100%;

        .as-text {
            position: absolute;
            color: white;
            top: 0;
            font-size: 13px;
        }

        .text-left {
            opacity: 0;
            left: 0;
            text-align: left;
        }

        .text-right {
            opacity: 1;
            right: 0;
            text-align: right;
        }
    }
}