$background :rgba(0,0,0,0.8);
$color:white;
.my-tooltip {
    ol,
    ul {
        padding-left: 15px;
        margin-bottom: 0;
        text-align: left;
    }
    position: relative;
    .my-tt-content {
        cursor: pointer;
    }
    .my-tt-container {
        z-index: 1000;
        position: absolute;
        .my-tt-mes {
            border-radius: 5px;
            color: white;
            font-size: 12px;
            background: $background;
            padding: 7px 5px;
        }
        .my-tt-arrow {
            margin: auto;
            width: 10px;
            border: rgba(0, 0, 0, 0) solid 10px;
            border-top: $background 10px solid;
            border-bottom-width: 0px;
        }
    }
}