@import "define/mixin.scss";

$SHELL_ORANGE: #f6d330;
$SHELL_RED: #cc2229;
.primary-layout.cf-SHELL {
  // #############################################
  // #############################################
  // HEADER

  header {
    background: $SHELL_ORANGE;
    .title {
      color: $SHELL_RED;
      small {
        color: $SHELL_RED;
      }
    }
    .menu,
    .menu-small, 
    .menu-small-new {
      a {
        color: #926622;
      }
      a:hover {
        color: $SHELL_RED;
      }
    }

    .menu {
      ul {
        .active {
          color: $SHELL_RED;
        }
      }
    }

    .menu-small {
      ul {
        background: $SHELL_ORANGE;
      }
    }
  }

  // #############################################
  // #############################################
  // BUTTON

  @include custom_btn_default("success", #ba0202, #f6d330, #f3c90d);
  @include custom_btn_focus("success", #ba0202, #e9c628, #e7c117);
  @include custom_btn_active("success", #ba0202, #ddbb25, #e6c01a);

  @include custom_btn_default("primary", white, #cc2229, #b91e24);
  @include custom_btn_focus("primary", white, #b91e24, #a81d22);
  @include custom_btn_active("primary", white, #aa161b, #97151a);

  @include custom_btn_default("blue", white, #cc2229, #b91e24);
  @include custom_btn_focus("blue", white, #b91e24, #a81d22);
  @include custom_btn_active("blue", white, #aa161b, #97151a);

  // #############################################
  // #############################################
  // PAGE SECTION
  .page-sec {
    .page-sec-title {
      color: $SHELL_RED;
    }
  }
  .page-sec.left {
    .page-sec-title {
      border-bottom: 1px #d97a7e solid;
    }
  }

  // #############################################
  // #############################################
  // TITLE
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $SHELL_RED;
    }
  }

  
  // #############################################
  // #############################################
  // FOCUS-CARD
  #focus-card {
    .fc-header {
      color: $SHELL_RED;
      border-bottom: 2px solid $SHELL_RED;
    }
  }

  // #############################################
  // #############################################
  // COMPANY PAGE
  .company-page {
    .cp-body {
      .cp-additional-info {
        border: solid $SHELL_RED 1px;
      }
      .cp-quick-link {
        .cp-quick-link-item {
          background: #fff3ba;
          color: $SHELL_RED;
        }
      }
    }
  }

   // #############################################
  // #############################################
  // LEFT BAR
  &.with-left-bar {
    left_bar {
      .lbar-content {
        .left_bar_nav {
          ul a.active li,
          ul li:hover,
          ul li:active {
            background-color: $SHELL_ORANGE;
            color: $SHELL_RED;
          }
        }
      }
    }
  }


  // #############################################
  // #############################################
  // PAGING
  .paging {
    .pg-btn {
      color: $SHELL_RED;
    }
    .pg-btn:hover,
    .pg-btn.active {
      background: $SHELL_RED;
    }

    .pg-page {
      color: $SHELL_RED;
    }
  }
  // #############################################
  // #############################################
  // LIST BOARD

  .list-board {
    @include button_color_outline("btn-green-outline", $SHELL_RED);

    .lb-title {
      color: $SHELL_RED;
    }
    .lb-list-header {
      border-bottom: 1px solid $SHELL_RED;
    }
  }
}
