@import "define/mixin.scss";

$CIMB_RED_DARK: #66000f;
$CIMB_RED_DARK_LIGHT: #9f505c;
// $CIMB_RED: #ff0000;
$CIMB_RED: #a81128;

// #############################################
// #############################################
// LANDING PAGE SPECIFIC
body.landing-page {
  .primary-layout.cf-CIMB {
    .content-landing-page {
      background: rgba(0, 0, 0, 0.35) !important;
    }
  }
}

.primary-layout.cf-CIMB {
  // #############################################
  // #############################################
  // HEADER
  $COLOR_HEADER: white;
  $COLOR_HEADER_LINK: $CIMB_RED_DARK_LIGHT;
  $COLOR_HEADER_TITLE: $CIMB_RED_DARK;
  $COLOR_HEADER_SUBTITLE: $CIMB_RED_DARK_LIGHT;
  $COLOR_HEADER_LINK_ACTIVE: $CIMB_RED_DARK;

  header {
    .img img {
      padding: 5px;
    }

    background: $COLOR_HEADER;
    .title {
      color: $COLOR_HEADER_TITLE;
      small {
        color: $COLOR_HEADER_SUBTITLE;
      }
    }
    .menu,
    .menu-small,
    .menu-small-new {
      a {
        color: $COLOR_HEADER_LINK;
      }
      a:hover {
        color: $COLOR_HEADER_LINK_ACTIVE;
      }
    }

    .menu {
      ul {
        .active {
          color: $COLOR_HEADER_LINK_ACTIVE;
        }
      }
    }

    .menu-small {
      ul {
        background: $COLOR_HEADER;
      }
    }
  }

  // #############################################
  // #############################################
  // FOCUS-CARD
  #focus-card {
    .fc-header {
      color: $CIMB_RED;
      border-bottom: 2px solid $CIMB_RED;
    }
  }

  // #############################################
  // #############################################
  // COMPANY PAGE
  .company-page {
    .cp-body {
      .cp-additional-info {
        border: solid $CIMB_RED 1px;
      }
      .cp-quick-link {
        .cp-quick-link-item {
          background: #ffd7d7;
          color: $CIMB_RED;
        }
      }
    }
  }

  // #############################################
  // #############################################
  // PAGE SECTION
  .page-sec {
    .page-sec-title {
      color: $CIMB_RED;
    }
  }
  .page-sec.left {
    .page-sec-title {
      border-bottom: 1px #d97a7e solid;
    }
  }

  // #############################################
  // #############################################
  // LEFT BAR
  &.with-left-bar {
    left_bar {
      .lbar-content {
        .left_bar_nav {
          ul a.active li,
          ul li:hover,
          ul li:active {
            background-color: $CIMB_RED;
            color: white;
          }
        }
      }
    }
  }

  // #############################################
  // #############################################
  // TITLE
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $CIMB_RED;
    }
  }

  // #############################################
  // #############################################
  // PAGING
  .paging {
    .pg-btn {
      color: $CIMB_RED;
    }
    .pg-btn:hover,
    .pg-btn.active {
      background: $CIMB_RED;
    }
    .pg-page {
      color: $CIMB_RED;
    }
  }
  // #############################################
  // #############################################
  // LIST BOARD

  .list-board {
    @include button_color_outline("btn-green-outline", $CIMB_RED);

    .lb-title {
      color: $CIMB_RED;
    }
    .lb-list-header {
      border-bottom: 1px solid $CIMB_RED;
    }
  }

  // #############################################
  // #############################################
  // CHAT
  // #chat {
  //   .chat-input {
  //     button {
  //       color: white;
  //       background-color: #820024;
  //     }

  //     button:hover {
  //       background-color: darken(#820024, 10);
  //     }

  //     button:active {
  //       background-color: #820024;
  //     }
  //   }

  //   .chat-box .other-item {
  //     background-color: #820024;
  //   }
  // }
  // #chat-list {
  //   .cl-header {
  //     background-color: #820024;
  //   }
  // }

  // #############################################
  // #############################################
  // BUTTON

  // text, background, border
  @include custom_btn_default("success", $CIMB_RED, white, $CIMB_RED);
  @include custom_btn_focus("success", $CIMB_RED, #f8f1f1, $CIMB_RED);
  @include custom_btn_active("success", $CIMB_RED, white, $CIMB_RED);

  @include custom_btn_default("default", $CIMB_RED, white, $CIMB_RED);
  @include custom_btn_focus("default", $CIMB_RED, #f8f1f1, $CIMB_RED);
  @include custom_btn_active("default", $CIMB_RED, white, $CIMB_RED);

  @include custom_btn_default("primary", white, $CIMB_RED, $CIMB_RED);
  @include custom_btn_focus("primary", white, darken($CIMB_RED, 10), $CIMB_RED);
  @include custom_btn_active("primary", white, $CIMB_RED, $CIMB_RED);

  @include custom_btn_default("blue", white, $CIMB_RED, $CIMB_RED);
  @include custom_btn_focus("blue", white, darken($CIMB_RED, 10), $CIMB_RED);
  @include custom_btn_active("blue", white, $CIMB_RED, $CIMB_RED);
}
