@import "define/mixin.scss";
$MAIN_COLOR:   #33539E;
$SUB_COLOR:  #7FACD6;
$HEADER_MAIN: white;
$HEADER_SUB: #7FACD6;
$HEADER_COLOR : #33539E;

// #############################################
// #############################################
// LANDING PAGE SPECIFIC
// body.landing-page {
//   .primary-layout.cf-CIMB {
//     .content-landing-page {
//       background: rgba(0, 0, 0, 0.35) !important;
//     }
//   }
// }

.primary-layout.cf-MARAVCF22
{
  // #############################################
  // #############################################
  // HEADER
  $COLOR_HEADER: $HEADER_COLOR;

  $COLOR_HEADER_TITLE: $HEADER_MAIN;
  $COLOR_HEADER_LINK_ACTIVE: $HEADER_MAIN;
  
  $COLOR_HEADER_LINK: $HEADER_SUB;
  $COLOR_HEADER_SUBTITLE: $HEADER_SUB;

  header {
    .img {
      padding : 10px 15px;
    }

    background: $COLOR_HEADER;
    .title {
      color: $COLOR_HEADER_TITLE;
      small {
        color: $COLOR_HEADER_SUBTITLE;
      }
    }
    .menu,
    .menu-small,
    .menu-small-new {
      a {
        color: $COLOR_HEADER_LINK;
      }
      a:hover {
        color: $COLOR_HEADER_LINK_ACTIVE;
      }
    }

    .menu {
      ul {
        .active {
          color: $COLOR_HEADER_LINK_ACTIVE;
          li{
            border-bottom-color: $COLOR_HEADER_LINK_ACTIVE;
          }
        }
      }
    }

    .menu-small {
      ul {
        background: $COLOR_HEADER;
      }
    }
  }

  // #############################################
  // #############################################
  // FOCUS-CARD
  #focus-card {
    .fc-header {
      color: $MAIN_COLOR;
      border-bottom: 2px solid $MAIN_COLOR;
    }
  }

  // #############################################
  // #############################################
  // COMPANY PAGE
  .company-page {
    .cp-body {
      .cp-additional-info {
        border: solid $MAIN_COLOR 1px;
      }
      .cp-quick-link {
        .cp-quick-link-item {
          background: #e7e7e7;
          color: $MAIN_COLOR;
        }
      }
    }
  }

  // #############################################
  // #############################################
  // PAGE SECTION
  .page-sec {
    .page-sec-title {
      color: $MAIN_COLOR;
    }
  }
  .page-sec.left {
    .page-sec-title {
      border-bottom: none;
    }
  }

  // #############################################
  // #############################################
  // LEFT BAR
  &.with-left-bar {
    left_bar {
      .lbar-content {
        .left_bar_nav {
          ul a.active li,
          ul li:hover,
          ul li:active {
            background-color: $MAIN_COLOR;
            color: white;
          }
        }
      }
    }
  }

  // #############################################
  // #############################################
  // TITLE
  .content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $MAIN_COLOR;
    }
  }

  // #############################################
  // #############################################
  // PAGING
  .paging {
    .pg-btn {
      color: $MAIN_COLOR;
    }
    .pg-btn:hover,
    .pg-btn.active {
      background: $MAIN_COLOR;
    }
    .pg-page {
      color: $MAIN_COLOR;
    }
  }
  // #############################################
  // #############################################
  // LIST BOARD

  .list-board {
    @include button_color_outline("btn-green-outline", $MAIN_COLOR);

    .lb-title {
      color: $MAIN_COLOR;
    }
    .lb-list-header {
      border-bottom: 1px solid $MAIN_COLOR;
    }
  }

  // #############################################
  // #############################################
  // CHAT
  // #chat {
  //   .chat-input {
  //     button {
  //       color: white;
  //       background-color: #1d1d5b;
  //     }

  //     button:hover {
  //       background-color: darken(#1d1d5b, 10);
  //     }

  //     button:active {
  //       background-color: #1d1d5b;
  //     }
  //   }

  //   .chat-box .other-item {
  //     background-color: #1d1d5b;
  //   }
  // }
  // #chat-list {
  //   .cl-header {
  //     background-color: #1d1d5b;
  //   }
  // }

  // #############################################
  // #############################################
  // BUTTON

  // text, background, border
  @include custom_btn_default("success", $MAIN_COLOR, white, $MAIN_COLOR);
  @include custom_btn_focus("success", $MAIN_COLOR, #f8f1f1, $MAIN_COLOR);
  @include custom_btn_active("success", $MAIN_COLOR, white, $MAIN_COLOR);

  @include custom_btn_default("default", $MAIN_COLOR, white, $MAIN_COLOR);
  @include custom_btn_focus("default", $MAIN_COLOR, #f8f1f1, $MAIN_COLOR);
  @include custom_btn_active("default", $MAIN_COLOR, white, $MAIN_COLOR);

  @include custom_btn_default("primary", white, $MAIN_COLOR, $MAIN_COLOR);
  @include custom_btn_focus("primary", white, darken($MAIN_COLOR, 10), $MAIN_COLOR);
  @include custom_btn_active("primary", white, $MAIN_COLOR, $MAIN_COLOR);

  @include custom_btn_default("blue", white, $MAIN_COLOR, $MAIN_COLOR);
  @include custom_btn_focus("blue", white, darken($MAIN_COLOR, 10), $MAIN_COLOR);
  @include custom_btn_active("blue", white, $MAIN_COLOR, $MAIN_COLOR);
}
