.app-loading{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: white; 
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-out;
}
.app-loading.hide{display: none;}

#app-error{
    display:none;
    flex-flow: column;
    opacity:0; 
    z-index:0;
}