@mixin center_horizontal($width) {
    width: $width;
    margin-left: -($width/2);
    left: 50%;
}  

@mixin center_vertical($height) {
    height: $height;
    margin-top: -($width/2 + 50);
    top: 50%;
} 

@mixin background-gradient($top,$bottom){
    background: -webkit-linear-gradient($top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($top, $bottom); /* For Firefox 3.6 to 15 */
    background: linear-gradient($top, $bottom); /* Standard syntax */
}

@mixin button_color($class,$color){
    .#{$class}{
        background-color: $color;
        border-color: darken($color,5);
    }


    .#{$class}:hover{
        background-color: darken($color,5);
        border-color: darken($color,10);
    }

    .#{$class}.focus, .#{$class}:focus, .#{$class}.active, .#{$class}:active{
        background-color: darken($color,10) !important;
        border-color: darken($color,15) !important;
    }


    .#{$class}[disabled]:hover{
        background-color: lighten($color,5);
        border-color: lighten($color,10);
    }

}
