$COLOR_DARK : #465363;
$COLOR_DARKER : #333D49; 
$COLOR_DARKER_TEXT : #8292ad;
$COLOR_DARKEST : #1a202d;
$COLOR_BACKGROUND : #edf2f6;
$COLOR_TITLE : #6f7e95;
$COLOR_LINK :#337ab7;
$COLOR-GREEN : #449d44;

$LAYOUT_LG : 860px;
$LAYOUT_MD : 680px;
$LAYOUT_SM : 360px;
$LAYOUT_SM_BOOTSTRAP : 768px;
$LAYOUT_MD_BOOTSTRAP : 990px;

$HEADER_HEIGHT : 50px;

$LEFTBAR_LG_WIDTH : 150px;
$LEFTBAR_MD_WIDTH : 35px;
$LEFTBAR_SM_HEIGHT : 30px;

$PROFILE_CARD: "pc-";
$SUB_NAV: "sn-";

$COLOR_LINK :#23527c;
$COLOR_GOLD : #faeaa9;
$COLOR_SILVER : #D6D7DB;
$COLOR_BRONZE : #ffe0c6;
$COLOR_BLUE : #9ec7ea;